@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Major+Mono+Display&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap');

@font-face {
  font-family: 'Reality Hyper';
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  src: local('Reality Hyper'), url('assets/fonts/Reality Hyper Regular.ttf') format('truetype');
}

* {
  margin: 0; padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  outline: 0; border: none;
  font-family: 'Encode Sans Expanded', sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}

html::-webkit-scrollbar {
  display: none;
}
